/* Tipo de fuente */
@font-face {
    font-family: "Arboria Black";
    src: url("../../../fonts/Arboria/TTF/Arboria-Black.ttf");

}

@font-face {
    font-family: "Brandon Med";
    src: url("../../../fonts/Brandon/Brandon_med.otf");
}

@font-face {
    font-family: "Arbora Medium";
    src: url("../../../fonts/Arboria/TTF/Arboria-Medium.ttf");
}

/* Estilos para el contenedor principal */
.container {
    max-width: 600px;
    min-height: 900px;
    margin: 20px auto;
    background-color: #eaeaea;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Estilos para el banner */
.banner {
    height: 420px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Estilos para el logo */
.logo {
    z-index: 4;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 50px;
    height: auto;
}

/* Estilos para los datos */
/* Código modificado para la imagen con clase perfil */
#datos {
    font-family: "Arboria Black";
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: bold;
    font-variant: normal;
    text-transform: none;
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.profile-picture {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 350px);
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

#datosmascotas {
    font-family: "Arboria Black";
    font-size: 24px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    position: absolute;
    top: calc(50% - 120px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    width: 100%;
}

#familia {
    font-family: "Arbora Medium";
    font-size: 17px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    color: whitesmoke;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.user-picture {
    z-index: 4;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 50px;
    height: auto;
}

/* Estilos para la imagen de usuario */
.fotousuario {
    z-index: 4;
    position: absolute;
    top: 370px;
    /* Ajustado para colocar la imagen un poco más arriba */
    left: 25px;
    /* Alineación izquierda */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* Hacer la imagen redonda */
    display: block;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.datos1 {
    position: absolute;
    top: 520px;
    /* Ajusta la distancia desde la parte superior según tu preferencia */
    left: 25px;
    /* Alineación izquierda */
    z-index: 5;
}

#titulo {
    font-family: "Arbora Medium";
    font-size: 18px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    color: #000000a2;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.boton-salir {
    display: block;
    margin: 0 auto;
    width: 40%;
}
#registro
{
    font-family: "Brandon Med";
    font-size: 20px;
}